
body {
  margin: 0;
  font-family: Daniel;
}

div{
  color: cadetblue;
  font-family: Daniel;
  font-size: large;
}

button{
  color: cadetblue;
}
textarea{
  height:200px;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
	display: inline;
}

