<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" style="height: 100%">
<html dir="ltr" lang="ar">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5"/>

    <title>Vocal models</title>
    <meta property="og:title" content="Sentence Punctuation Tool">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style>
	div.box_border{
		width: 320px;
		padding: 10px;
		border: 5px solid gray;
		margin: 0;
	}
	p{
	  color: blue;
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: large;
	}
	textarea{
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: large;
	}
	</style>

</head>

<body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
        window.onload = function(){
			var blob = window.URL || window.webkitURL;
			if (!blob) {
				console.log('Your browser does not support Blob URLs :(');
				return;           
			}
			document.getElementById('fileInput').onchange = function () {
			  //alert('Selected file: ' + this.value);
			  const audio_frame = document.getElementById("file_audio_player");
			  const isHidden = audio_frame.style.display === "none";
			  if (isHidden) {
			  audio_frame.style.display="block";
			  document.getElementById("recording_audio_player").style.display = "none";
			  }
			  var file = this.files[0]
			  fileURL = blob.createObjectURL(file);
			  document.getElementById('audio_player').src = fileURL;
			};
			URL = window.URL || window.webkitURL
			var AudioContext = window.AudioContext || window.webkitContext;
			var audioContext;
			
			var gumStream;
			var rec;
			var input;
			document.getElementById("new_re").addEventListener("click",record);
			function record(){
				console.log('record button trigger');
				var constraints = { audio: true, video: false};
				navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
				audioContext = new AudioContext();
				gumStream = stream;
				input = audioContext.createMediaStreamSource(stream);
				rec = new Recorder(input,{numChannels:1});
				
				rec.record();
				
				setTimeout(stopRecording,3450);
				});
			}
			function stopRecording(){
				rec.stop();
				gumStream.getAudioTracks()[0].stop();
				rec.exportWAV(createDownloadLink);
			}
			function createDownloadLink(blob){
				const audio_frame = document.getElementById("file_audio_player");
				const isHidden = audio_frame.style.display === "none";
				if (isHidden) {
				audio_frame.style.display="block";
				document.getElementById("recording_audio_player").style.display = "none";
				}
				var url = URL.createObjectURL(blob);
				document.getElementById('audio_player').src = url;
				var upload = document.createElement('a');
				upload.href="#";
				upload.innerHTML = "Upload_A";
				upload.addEventListener("click",function(event){
					var xhr = new XMLHttpRequest();
					xhr.onload = function(e) {
						if (this.readyState === 4) {
							console.log("Server returned: ", e.target.responseText);
						}
					};
					var fd = new FormData();
					fd.append("audio_file",blob,new Date().toISOString()+".wav");
					xhr.open("POST","/index",true);
					xhr.send(fd);
				});
				test_box.appendChild(upload)
			}
        };

</script>
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="container">
    <div class="row">
        <h1 id="headline">Hello Or,</h1>
    </div>
	<!--<div id="test_box">
	<button id="new_re" class="btn-primary">
                    New_Record
    </button>-->
	</div>
    <form action="/index" method="POST" enctype="multipart/form-data">
	<div class="row">
        <br>
		<div class="box_border col-md-5">
			<fieldset>
				<legend>Choose models:</legend>
				<p>
				<div>
					<input type="checkbox" name="models_selection" value="gender" {{check_gender}}>
					<label for="gender">Gender model</label>
				</div>
				<div>
					<input type="checkbox" name="models_selection" value="age" {{check_age}}>
					<label for="age">Age model</label>
				</div>
				<div>
					<input type="checkbox" name="models_selection" value="mood" {{check_mood}}>
					<label for="mood">Mood model</label>
				</div>
				<div>
					<input type="checkbox" name="models_selection" value="accent" {{check_accent}}>
					<label for="accent">Accent model</label>
				</div>
				<div>
					<input type="checkbox" name="models_selection" value="language_identification" {{check_language_identification}}>
					<label for="language_identification">Language identification model</label>
				</div>
			</p>
		</fieldset>
		</div>
		<br>
		<div class="col-md-7">
		<div class="row">
			<div id="test" class="col-md-1 col-md-offset-3">
			   <button id="predict" type="submit" name="submit_button" value="rec" class="btn-primary" onclick="$('#recording').show()">
							Record
				</button>
			</div>
			<div class="col-md-1 col-md-offset-1">
				<span>OR</span>
			</div>
			<div class="col-md-1 col-md-offset-1">
				<input type="file" name="file" accept="audio/*" id="fileInput" onchange="clicker()">
			</div>
		  </div>
	<div class="col" id="recording_audio_player" style="{{audio_record}}">
	<br>
	<div class="row">
		<div class="col-md-5 col-md-offset-5">
		 <p>Record Audio Player</p>
		</div>
		<div class="col-md-1 col-md-offset-4">
		  <audio controls src="/wav/{{audio_file}}"></audio>
		</div>
	</div>
  </div>
  
 <div id="file_audio_player" style="{{audio_player}}">
	<br>
	<div>
		<div class="col-md-5 col-md-offset-5">
		 <p>Record Audio Player</p>
		</div>
		<div class="col-md-1 col-md-offset-4">
		  <audio controls id="audio_player" name="audio_data"></audio>
		</div>
	</div>
  </div>
    <div class="row">
  <div class="col-md-1 col-md-offset-6">
   <button type="submit" name="submit_button" value="file" class="btn-primary" onclick="$('#uploading').show()">Submit</button>
   </div>
  </div>
 </div>
</div>
<div class="row" id="recording" style="display:none;">
            <center>
                <br>
                <p>Recording...</p>
            </center>
        </div>

        <div class="row" id="uploading" style="display:none;">
            <center>
                <br>
                <p>Uploading...</p>
            </center>
        </div>
		
		<div class="row" style="{{results_hide}}">
            <br>
             <p id="subHead">Results for File: {{results}}</p>
		</div>
	<div class="row">
		<div class="col-md-2" style="{{gender_model_hide}}">
            <p id="subHead">Gender Model:</p>
			<p name="gender_textbox" style="font-size: 14px; color: black;white-space: pre-line;">{{ gender_model }}</p>
		</div>
		<div class="col-md-2" style="{{age_model_hide}}">
            <p id="subHead">Age Model:</p>
			<p name="age_textbox" style="font-size: 14px; color: black;white-space: pre-line;">{{ age_model }}</p>
        </div>
		
		<div class="col-md-2" style="{{mood_model_hide}}">
            <p id="subHead">Mood Model:</p>
            <p name="mood_textbox" style="font-size: 14px; color: black;white-space: pre-line;">{{ mood_model }}</p>
		</div>
		
		<div class="col-md-3" style="{{accent_model_hide}}">
            <p id="subHead">Accent Model:</p>
			<p name="accent_textbox" style="font-size: 14px; color: black;white-space: pre-line;">{{ accent_model }}</p>
		</div>
		<div class="col-md-3" style="{{language_model_hide}}">
            <p id="subHead">Language Identification Model:</p>
            <p name="language_textbox" style="font-size: 14px; color: black;white-space: pre-line;">{{ language_model }}</p>
		</div>
	</div>
</div>

  <!--<div class="row">
    <div class="col-md-1 col-md-offset-5">
       <button id="predict" type="submit" name="submit_button" value="rec" class="btn-primary" onclick="$('#recording').show()">
                    Record
        </button>
    </div>
	<div class="col-md-1">
		<span>OR</span>
    </div>
    <div class="col-md-1">
		<input type="file" name="file" accept="audio/*" id="fileInput" onchange="clicker()">
    </div>
  </div>
  <br>
  
	
  <div id="recording_audio_player" style="{{audio_record}}">
	<div class="row">
		<div class="col-md-3 col-md-offset-5">
		 <p style="margin-left: 20%;">Record Audio Player</p>
		</div>
		<div class="col-md-1 col-md-offset-5">
		  <audio controls src="/wav/{{audio_file}}"></audio>
		</div>
	</div>
  </div>
  
 <div id="file_audio_player" style="{{audio_player}}">
	<div class="row">
		<div class="col-md-3 col-md-offset-5">
		 <p style="margin-left: 20%;">Record Audio Player</p>
		</div>
		<div class="col-md-1 col-md-offset-5">
		  <audio controls id="audio_player" name="audio_data"></audio>
		</div>
	</div>
  </div>

  <div class="row">
  <div class="col-md-1 col-md-offset-6">
   <button type="submit" name="submit_button" value="file" class="btn-primary" onclick="$('#uploading').show()">Submit</button>
   </div>
  </div>





        <div id="recording" style="display:none;">
            <center>
                <br>
                <p>Recording...</p>
            </center>
        </div>

        <div id="uploading" style="display:none;">
            <center>
                <br>
                <p>Uploading...</p>
            </center>
        </div>
		
       <div class="row" style="{{results_hide}}">
            <br>
             <p id="subHead">Results for File: {{results}}</p>
		</div>

		
		<div class="row" style="{{gender_model_hide}}">
            <br>
			
            <p id="subHead">Gender Model:</p>
            <textarea name="gender_textbox" class="form-control txt_summary" rows="3" cols="5000" id="input_prediction" style="height:100px; overflow:hidden;"
                      readonly>{{ gender_model }}</textarea>
             <br>
		</div>


		
		<div class="row" style="{{age_model_hide}}">
            <br>
			
            <p id="subHead">Age Model:</p>
            <textarea name="age_textbox" class="form-control txt_summary" rows="3" cols="5000" id="input_prediction" style="height:100px; overflow:hidden;"
                      readonly>{{ age_model }}</textarea>
		  <br>
        </div>


		
		<div class="row" style="{{mood_model_hide}}">
            <br>
			
            <p id="subHead">Mood Model:</p>
            <textarea name="mood_textbox" class="form-control txt_summary" rows="3" cols="5000" id="input_prediction" style="height:100px; overflow:hidden;"
                      readonly>{{ mood_model }}</textarea>
            <br>
		</div>


		
		<div class="row" style="{{accent_model_hide}}">
            <br>
			
            <p id="subHead">Accent Model:</p>
            <textarea name="accent_textbox" class="form-control txt_summary" rows="3" cols="5000" id="input_prediction" style="height:100px; overflow:hidden;"
                      readonly>{{ accent_model }}</textarea>
            <br>
		</div>

        
		
		<div class="row" style="{{language_model_hide}}">
            <br>
			
            <p id="subHead">Language Identification Model:</p>
            <textarea name="language_textbox" class="form-control txt_summary" rows="3" cols="1000" id="input_prediction" style="height:100px; overflow:hidden;"
                      readonly>{{ language_model }}</textarea>
			<br>
		</div>
-->


        <!--<button type="submit" name="submit_button" class="btn-primary" value="clean">Clear</button>-->

    </form>

</div>
</div>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</body>


</html>